{% load static %}
<nav style="display:flex; justify-content:flex-end; background-color:#f9f9f9; padding:15px; padding-right: 50px; align-items: center;">
    <a href="/" style="position: absolute; left: 30px; top: 10px; display: flex; align-items: center; text-decoration: none;">
        <img src="{% static 'media/logo.png' %}" alt="Vasudev Chemo Pharma Logo" style="height:120px; padding:10px 15px;">
        <span style="color:#1a365d; font-size:2rem; font-weight:700; margin-left:10px;">Vasudev Chemo Pharma</span>
    </a>
    <ul style="list-style:none; display:flex; gap:50px; margin:0; padding: 10px;">
        <li style="color:#1a365d; font-size:18px; font-weight:500;">Email : info@vasudevchemopharma.com</li> 
        <li style="color:#1a365d; font-size:18px; font-weight:500;">Mobile No. : +91 9898837713</li> 
    </ul>
</nav>
